.sidebar{
  background-color: #b95b3e;
}

.text-orange{
  color: #b95b3e;
}

.link{
  color:white;
}

.text-gray-800 {
  color: gray; /* Ganti warna teks menjadi abu-abu */
  font-weight: 800; /* Atur ketebalan font menjadi 800 (bold) */
  font-size:24px;
}
.text-24{
  font-size:24px;
}
.img-profil {
  width: "80px";
  height: "80px";
  border-radius: "50%";
}
.m-3{
  margin:30px
}
.text-32{
  font-size:32px;
}
.text-5xl{
  font-size:64px;
  font-weight: bold;
}
.text-2xl{
  font-size:48px;
  font-weight: bold;
}
.text-xl{
  font-size:32px;
  font-weight: bold;
}
.text-red-500{
  color: red;
  font-weight: 500;
  font-size: 24px;
}